.overlay {
  @apply fixed inset-0 w-full h-full w-screen;
  @apply transition duration-500 ease-in-out;

  &.dimmed {
    @apply bg-gray-900 opacity-50;
  }
}

.spinning {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
