@import "./base.css";
@import "./components/index.css";

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.page-header {
  @apply h-20 flex justify-between items-center px-5;

  &.secondary-page-header {
    @apply h-auto mb-8;
  }
}

.container {
  @apply max-w-screen-xl;
}
